body {
  margin: 0px;
}

.container { position:relative; }
.container video {
    position: relative;
    z-index: 0;
}
.overlay {
    position: relative;
    z-index: 1;  
    width: 100%;
    height: 100vh;
}

.overlay-inside {
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

h2 {
    position: absolute;
    top: 70;
}

@keyframes nav_opacity {
    from{background-color: rgba(0,0,0,0);}
    to{background-color: rgba(0,0,0,.5);}
}

@keyframes nav_opacity_off {
    from{background-color: rgba(0,0,0,.5);}
    to{background-color: rgba(0,0,0,0);}
}

.dropdown_content {
  display: none;
  position: relative;
}

.dropbtn {
  height: 10vh;
  border: none;
}

#arrow {
  position: absolute;
  top: 300;
  display: flex;
  justify-content: center;
  border: none;
  background: none;
  color: white;
  margin-left: 50px;
}

span {
  content: "/21E9";
  font-size: 50px;
}

.size-adjust {
  width: 100%;
  height: auto;
}

.arrow-link {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 50px;
  top: 400px;
  transform: translateY(-25%)
}

.filler-subtext {
display: flex;
justify-content: end;

}

.filler-text {
display: flex;
justify-content: center;
}

/* CONTACT CSS */

.banner {
  background-image: url("/media/images/contact_banner.jpg");
  width: 100%;
  height: 25vh;
  background-position: top;
  background-height: 1
}